
<div class="sidenav">
  <p>
    <a class="btn btn-warning" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Usuario No Registrado</a>
    
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="sidenav">
          <a routerLink="/" class="uil uil-house-user">  Home</a>
          <a routerLink="/recipes" class="uil uil-book">  Recipes</a>
          <a routerLink="/auth/signup" class="uil uil-signin">  Sign up</a>               
          <a routerLink="/auth/login" class="uil uil-key-skeleton"> Login</a>        
      </div>   
      </div>
    </div>
 
</div>
<div class="sidenav">
  <p>
    <a class="btn btn-warning" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Usuario Registrado</a>
    
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="sidenav">
          <a routerLink="/" class="uil uil-house-user">  Home</a>
          <a routerLink="/recipes" class="uil uil-book">  Recipes</a>          
          <a routerLink="/signout" class="uil uil-signout">  Sign out</a>  
      </div> 
      </div>
    </div>
 
</div>
<div class="sidenav">
  <p>
    <a class="btn btn-warning" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">Chef</a>
    
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="sidenav">
          <a routerLink="/" class="uil uil-house-user">  Home</a>
          <a routerLink="/recipes" class="uil uil-book">  Recipes</a>
          <a routerLink="/recipes/create" class="uil uil-plus-circle">  Create</a>               
          <a routerLink="/signout" class="uil uil-signout">  Sign out</a>  
      </div> 
      </div>
    </div>
 
</div>
 
