<div class="wrapper">
  <div class="container">
    <div class="titulo2">
      <h1 class="centro">{{recipeDetail?.title}}</h1>
    </div>
    <hr />
    <div class="imgContainer">
      <img class="img-fluid mx-auto d-block"
        src="{{recipeDetail?.image}}">
    </div>
    <hr />
    <div class="elaboracion">
      <div class="ingredientes">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ingredients
            </mat-panel-title>
            <mat-panel-description>
              See list of ingredients
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeDetail?.ingredients "> {{ingredient.name}} - {{ingredient.quantity}}</li>
          </ul>
        </mat-expansion-panel>
      </div>
    </div>
    <hr />
 
    <div class="elaboracion">
      <h2 class="titulo2">Elaboration  </h2>
      <p class="recipeContent">
        {{recipeDetail?.recipeText}}
      </p>
  </div>
  </div>
  <br/><br/><br/><br/><br/><br/>
  <app-comments [recipeId]=this.recipeId></app-comments>
</div>