<div class="wrapper">
  <div class="container">
    <div class="titulo2">
      <h1 class="centro">{{recipeDetail?.title}}</h1><br/>
    </div>
    <hr />
    <div class="imgContainer">
      <img class="img-fluid mx-auto d-block"
        src="{{recipeDetail?.image}}">
    </div>
    <hr />
    <div class="elaboracion">
      <h2 class="titulo2">Ingredients </h2><br/>
      <div class="recipeContent">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of recipeDetail?.ingredients "> {{ingredient.name}} - {{ingredient.quantity}}</li>
        </ul>
    </div>
    </div>
    <hr />
 
    <div class="elaboracion">
      <h2 class="titulo2">Elaboration  </h2>
      <p class="recipeContent">
        {{recipeDetail?.recipeText}}
      </p>
  </div>
  </div>
  <br/><br/><br/><br/><br/><br/>

  <h2 class="titulo2">Cometarios  </h2>
  <br/><br/>

  <div class="container">
    <div class="row cometarios justify-content-center">
      <div class="col-6">
        <form action="" class="form_comentarios d-flex justify-content-end flex-wrap">
          <textarea name="" id="" placeholder="Comentario"></textarea>
          <button class="btn" type="button">Comentar</button>
        </form>
        <div class="media">
          <img src="/assets/persona.png" alt="" >
          <div class="media-body">
            <p class="nombre">Aaron</p><span> 7:51pm, Hoy</span>
            <p class="comentario"> Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit. Etiam scelerisque, 
              turpis in ornare dictum, nulla velit volutpat felis,
               in mollis ante augue ut arcu. Mauris sed nunc rhoncus, 
               blandit lectus ac, scelerisque leo. Donec blandit feugiat sapien.
            </p>
            <div class="botones text-rigth">
              <a href="#">Responder</a>
              <a href="#">Editar</a>
              <a href="#">Borrar</a>
            </div>
          </div>
        </div>
        <div class="media">
          <img src="/assets/mujer.png" alt="" >
          <div class="media-body">
            <p class="nombre">Alice</p><span> 10:51am, Hoy</span>
            <p class="comentario"> Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit. Etiam scelerisque, 
              turpis in ornare dictum, nulla velit volutpat felis,
               in mollis ante augue ut arcu. Mauris sed nunc rhoncus, 
               blandit lectus ac, scelerisque leo. Donec blandit feugiat sapien.
            </p>
            <div class="botones text-rigth">
              <a href="#">Responder</a>
              <a href="#">Editar</a>
              <a href="#">Borrar</a>
            </div>
          </div>
        </div>
        <div class="media">
          <img src="/assets/hombre.png" alt="" >
          <div class="media-body">
            <p class="nombre">Lorenzo</p><span> 5:00pm, Ayer</span>
            <p class="comentario"> Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit. Etiam scelerisque, 
              turpis in ornare dictum, nulla velit volutpat felis,
               in mollis ante augue ut arcu. Mauris sed nunc rhoncus, 
               blandit lectus ac, scelerisque leo. Donec blandit feugiat sapien.
            </p>
            <div class="botones text-rigth">
              <a href="#">Responder</a>
              <a href="#">Editar</a>
              <a href="#">Borrar</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>