<div class="jumbotron d-flex">
  <div class="container">
    <h2>Create a new recipe</h2>
    <form class="row g-3">
      <div class="mb-3">
        <label for="recipeTitle" class="form-label">Title of recipe</label>
        <input class="form-control" type="text" id="recipeTitle">
      </div>
      <div class="mb-3">
        <label for="imageOfRecipe" class="form-label">Image of recipe</label>
        <input class="form-control" type="file" id="imageOfRecipe">
      </div>
      <div class="mb-3">
        <label for="recipeTitle" class="form-label">Ingredients</label>
        <input class="form-control" type="text" id="recipeTitle">
      </div>
      <div class="mb-3">
        <label for="elaboration" class="form-label">Elaboration</label>
        <textarea class="form-control" id="elaboration" rows="10"></textarea>
      </div>
      <div class="d-grid gap-3">
        <button type="submit" class="btn btn-primary">Create recipe!</button>
      </div>
    </form>
  </div>
</div>