footer {
  position: fixed;
  padding: 8px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fbf2b8;
  color: rgba(207, 142, 43, 0.665);
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}