<!-- Page Content-->
 <div class="container px-4 px-lg-5">  
   <!-- Heading Row-->
   <div class="row gx-4 gx-lg-5 align-items-center my-5">
       <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i2.supercook.com/b/6/7/1/b6714f0df90e6c8c44886edeacdd8d3a-0.jpg" alt="..." /></div>
       <div class="col-lg-5">
           <h1 class="font-weight-light">El Cocinas</h1>
           <p>¡Bienvenido a El Cocinas un Blog de cocina en el que encontraras un gran repertorio de recetas rapidas, faciles, saludables y caseras!</p>
           <a class="btn btn-warning" href="">More Info</a>
       </div>
   </div>
   <!-- Call to Action-->
   <div class="card text-white bg-secondary my-5 py-4 text-center">
       <div class="card-body"><p class="text-white m-0">¡En este espacio podrás ver recetas, trucos y consejos para que tus platos gusten y te diviertas cocinando.!</p></div>
   </div>
   <!-- Content Row-->
   <div class="row gx-4 gx-lg-5">      
       <div class="col-md-4 mb-5">         
           <div class="card h-100">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://i2.supercook.com/0/c/3/a/0c3aeb13afcc72f07c3f1174f79ac66f-0.jpg" alt="..." />
               <div class="card-body">
                   <h2 class="card-title">Chef</h2>
                   <p class="card-text">Los usuarios de tipo Chef podran crear recetas y editarla</p>
               </div>
               <div class="card-footer"><a class="btn btn-warning btn-sm" href="">More Info</a></div>
           </div>
       </div>
       <div class="col-md-4 mb-5">        
           <div class="card h-100">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://i2.supercook.com/3/b/9/2/3b92693f4d258395b82e35a999777a3a-0.jpg" alt="..." />
               <div class="card-body">
                   <h2 class="card-title">Usuario</h2>
                   <p class="card-text">Los usuarios podran ver y comentar las recetas creadas por nuestros chefs.</p>
               </div>
               <div class="card-footer"><a class="btn btn-warning btn-sm" href="">More Info</a></div>
           </div>
       </div>
       <div class="col-md-4 mb-5">
           <div class="card h-100">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="https://i2.supercook.com/5/2/3/b/523b06b947ebf3a2781e2a2eb1871d00-0.jpg" alt="..." />
               <div class="card-body">
                   <h2 class="card-title">Newsletter</h2>
                   <p class="card-text">Si te suscribes recibirás nuestras recetas, ofertas, todas las novedades, ¡Y además un libro con 22 recetas para darte la bienvenida a El Cocinas.</p>
               </div>
               <div class="card-footer"><a class="btn btn-warning btn-sm" href="#!">Apuntarme</a></div>
           </div>
       </div>
       <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
          <p class="m-0 text-center text-white">Siguenos en nuestras Redes Sociales</p>
             <div class="m-0 text-center text-whiter">         
                 <i class="uil uil-youtube"> YouTube   </i>
                 <i class="uil uil-facebook">  Facebook  </i>
                 <i class="uil uil-instagram"> Instagram  </i>
                 <i class="uil uil-linkedin"> Linkedin  </i>      
             </div>     
         </div>
    </div>
   </div>

</div>
<!-- Call to Action-->
 
